body {
  background-color: lightblue;
  font-family: "Top Secret Stamp";
}
button {
  background-color: blue;
  height: 100px;
  width: 100px;
  color: white;
}
button:hover {
  background-color: red;
}
@font-face {
  font-family: "Top Secret Stamp";
  src: url("top_secret_stamp/Top-Secret-Stamp.ttf");
}